/* Hero */
.hero {
    width: 100%;
    padding: 120px 0 40px;
    height: 40vh;
    background: #f5f5f5;
    /* background: url(../images/hero-bg.webp); */
    position: relative;
    z-index: 0;
    background: #030814;
}

canvas.hero-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.hero .container {
    width: 1440px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.hero h1 {
    font-size: 7vw;
    text-align: center;
}

/* End Hero */

/* canvas */
.canvas-player{
    width: 100%;
    padding: 30px 15px;
}
.canvas-player .container {
    width: var(--max-width);
    position: relative;
}
canvas.playerCanvas {
    width: 100%;
    height: 500px;
    z-index: -2;
    border: 2px solid var(--primary-color);
}
.canvas-player .game-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vw;
    text-align: center;
    width: 100%;
    transition: all 0.1s;
}
.controls {
    position: absolute; 
    top: 10px; 
    left: 10px;
    font-size: 16px;
}
.controls ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 5px;
}
.controls ul li {
    display: flex;
}

.controls span {
    width: 30px;
    font-weight: 700;
}

.play-pause {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 999;
}

/* Globally Responsive */
@media (max-width: 1440px) {
    .hero {
        padding: 100px 20px 40px;
    }

    .hero h1 {
        font-size: 9vw;
        text-align: center;
    }
    .canvas-player .container  {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .hero p {
        width: 100%;
    }
}

@media (max-width: 776px) {

    .hero .container {
        gap: 20px;
    }

    .hero h1 {
        font-size: 12vw;
        text-align: center;
    }
}
