/* Hero */
.hero {
    width: 100%;
    padding: 120px 0 60px;
    height: 100vh;
    background: #f5f5f5;
    /* background: url(../images/hero-bg.webp); */
    position: relative;
    z-index: 0;
    background: #030814;
}

/* .hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
} */

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.hero .container {
    width: 1440px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.hero h1 {
    font-size: 8vw;
    text-align: center;
}

.hero p {
    font-size: 18px;
    text-align: center;
    color: var(--white-color);
    width: 60%;
}

/* End Hero */

.games {
    width: 100%;
    padding: 80px 15px;
}

.games .container {
    width: var(--max-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.games h2 {
    text-align: center;
    font-size: 5vw;
}
.games p {
    text-align: center;
}

.game-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.game-list .game-item {
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #fab48975;
    border-radius: 30px;
    text-align: center;
    height: auto;
}
.game-list .game-item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    background: #FAB489;
    border-radius: 20px;
}
.game-list .game-item .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 30px;
}
.game-list .game-item h3 {
    font-size: 2vw;
}

/* Globally Responsive */
@media (max-width: 1440px) {
    .hero {
        padding: 100px 20px 60px;
    }

    .hero h1 {
        font-size: 9vw;
        text-align: center;
    }
}

@media (max-width: 1024px) {
    .hero p {
        width: 100%;
    }
}

@media (max-width: 776px) {

    .hero .container {
        gap: 20px;
    }

    .hero h1 {
        font-size: 12vw;
        text-align: center;
    }
}

/* End Globally Responsive */