@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

@font-face {
    font-family: 'Gameria';
    src: url('../fonts/gameria/GAMERIA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --primary-color: #FF6200;
    --secondary-color: #000000;
    --text-color: #222222;
    --darker-color: #9c0000;
    --white-color: #fff;
}
html {
    overflow-x: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Gameria', sans-serif;
    letter-spacing: 3px;
    line-height: 0.8;
    /* color: var(--primary-color); */
    color: transparent;
    -webkit-text-stroke: 2px var(--secondary-color);
    background: linear-gradient(0deg, var(--primary-color) 50%, var(--white-color) 100%);
    background-clip: text;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cta {
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Pixelify Sans", sans-serif;
    background: var(--primary-color);
    color: var(--white-color);
    border: 1px solid #c02600;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0 10px 0 #f89354, 0 20px 10px #fab48973;
    transition: all 0.3s ease;
    transform-style: preserve-3d;
    &:hover {
        box-shadow: 0 6px 0 #f89354, 0 14px 10px #fab48973;
        transform: translateY(4px);
    }
    &:active {
        box-shadow: 0 0 0 #f89354, 0 0px 0px #fab48973, inset 0 2px 4px #c02600;
        transform: translateY(10px);
    }
}

.extra-section {
    height: 500px;
    width: 100%;
    padding: 30px;
}

/* header */
header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: var(--secondary-color); */
    padding: 8px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

header .container {
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .site-logo a {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .site-logo img {
    width: 120px;
}

header .navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
    color: var(--white-color);
}

header .navbar ul li a {
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease;

    &:hover {
        color: var(--primary-color);
    }
}

/* End header */



/* Globally Responsive */
@media (max-width: 1440px) {
    .container {
        width: 100% !important;
    }
    header .container {
        width: 100%;
        padding: 0 20px;
    }
}

@media (max-width: 1024px) {
    header .container .navbar {
        display: none;
    }
}

@media (max-width: 776px) {
    p {
        font-size: 14px !important;
    }

    .cta {
        font-size: 14px !important;
    }

    header .site-logo img {
        width: 100px;
    }
}

/* End Globally Responsive */