.hero {
    width: 100%;
    padding: 120px 0 60px;
    height: 80vh !important;
    background: #f5f5f5;
    position: relative;
    z-index: 0;
    background: #030814;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.hero .container {
    width: 1440px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.hero h1 {
    font-size: 8vw;
    text-align: center;
}

.hero p {
    font-size: 18px;
    text-align: center;
    color: var(--white-color);
    width: 60%;
}

/* End Hero */

/* Globally Responsive */
@media (max-width: 1440px) {
    .hero {
        padding: 100px 20px 60px;
    }

    .hero h1 {
        font-size: 9vw;
        text-align: center;
    }
}

@media (max-width: 1024px) {
    .hero p {
        width: 100%;
    }
}

@media (max-width: 776px) {

    .hero .container {
        gap: 20px;
    }

    .hero h1 {
        font-size: 12vw;
        text-align: center;
    }
}

/* End Globally Responsive */

/* typo container css */
.typoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 50px 0;
    background-image: url("../images/Rectangle\ 3.png");
    background-size: cover; 
    background-position: center;
    width: 1600px;
}
.difficulties{
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.typoContainer h2{
    font-size: 80px !important;
    padding-bottom: 20px !important;
}
.difficulties a{
    font-size: 18px !important;
    font-family: Pixelify Sans Mono, monospace !important;
}
